.ts{
    text-align: left;
    background-color: #06347F;
    outline: 10px solid #06347F;
    border: 10px dotted #FFC800 ;
    padding: 1rem;
    max-width: 300px;
    border-radius: 10px;
    margin-block: 0;
    display: block;
    margin-left: auto;
    margin-right: auto 
    
}




#sh{
    color: white;
}

#sposter{
    max-width: 100%;
}

#tstext{
    color: white;
}



body{
    background-color: #CFCFCF;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: bold;
}


.rs{
    text-align: left;
    max-width: 300px;
    padding: 1rem;
    outline: 10px solid #06347F;
    border-radius: 10px;
    background-color: #06347F;
    border: 10px dotted #FFC800 ;
    display: block;
    margin-left: auto;
    margin-right: auto 
    
}

#rsh{
    color: white;
}

#rstext{
    color: white;
}

#rsposter{
    max-width: 100%;
}



.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    background-color: black;
    


    padding: 1rem;
    
    
}

.logo{
    color: #FFC800;

    animation: blink 1s;
    animation-iteration-count: infinite;
    width: 100%;
    justify-content: center;

    
}

@keyframes blink { 50% { color: #000 ; }  }

nav{
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    
    max-width: 100%;
    padding-right: 2rem;
    
    
    
}



a{
    color: white;
    text-decoration: none;
    padding-right: 1rem;
}

body {
    margin: 0px;
    }


header{
    

    
    padding: 1rem;
    background-color: #000;
    padding-right: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    

    
}


.bump{
    font-size: x-large;
}


div.form{
    display: block;
    text-align: center;
}
    

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


.chro{
    text-align: left;
    background-color: #06347F;
    outline: 10px solid #06347F;
    border: 10px dotted #FFC800 ;
    padding: 1rem;
    max-width: 300px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto 
    
}



#chrotitle{
    color: white;
}

#chroposter{
    max-width: 100%;
}


.transformers{
    text-align: left;
    background-color: #06347F;
    outline: 10px solid #06347F;
    border: 10px dotted #FFC800 ;
    padding: 1rem;
    max-width: 300px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}


#transformerstitle{
    color: white;
}

#tftext{
    color: white;
}

#transformersposter{
    max-width: 100%;
}




body{
    display: block;
    text-align: center;
    
}

.content{
    padding-left: 50%;
}



form{
    border: 5px solid #FFC800;
    background-color: #06347F;
    max-width: auto;
    color: white;
    
}


